@model IEnumerable<MobiSys.Models.Employees>

@{
    ViewData["Title"] = "Manage Employees";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Manage Employees</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Add an employee</a>
</p>
<table id="employeeTable" class="table table-info table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City.Name)
                </td>
                <td>
                    <a class="btn btn-outline-info" asp-action="Edit" asp-route-id="@item.Id">Edit</a>

                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts{
    <script>
        $(document).ready(function () {
            $('#employeeTable').DataTable();
        });
    </script>
}